.navbar {
  background-color: #fff !important;
  border: 2px solid #e4e8eb;
  position: fixed !important;
  height: 77px;
  width: 100%;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

body, html {
  background-color: #f7f8f9 !important;
  height: 100%;
}

.branding-center {
  font-family: "Avenir";
  font-size: 26px;
  font-weight: normal;
  color: #4abbed;
}

.sidebar-button {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 20px;


}

.sidebar-icon {
  margin-right: 15px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    padding-top: 77px !important;
    height:     100%;       /* These two lines were the key. */
    /*overflow: hidden; /* Do not use this, it crops in small browsers. */
    margin:     0px auto;
    padding:    0px auto;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 100% !important;
    position: relative !important;
    background-color: #fff !important;
    border-bottom: 2px solid #e4e8eb;
    border-right: 2px solid #e4e8eb;
    border-left: 2px solid #e4e8eb;


}

.line-sidebar {
  margin-left: 10px;
  margin-right: 10px;
}


.dashboard {
  width: 100%;
  padding: 15px;
}
